{
  "extends": "airbnb",
  "plugins": [
    "jest"
  ],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    "no-plusplus": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": true,
      "peerDependencies": true
    }],
    "react/require-default-props": 0
  }
}
