:local(.component),
:local(.component) * {
  box-sizing: border-box;
}

:local(.component) {
  width: 100%;
  height: 100vh;
  font-size: 12px;
  line-height: 1.2;
  font-family: helvetica, arial, sans-serif;
  border-bottom: 1px solid #ccc;
  color: #666;
  display: flex;
  flex-direction: column;
}

:local(.toolbar) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
}

:local(.main) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

:local(.buttons) {
  flex-shrink: 0;
  margin-right: 20px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

:local(.button) {
  border-radius: 3px;
  background-color: transparent;
  border: 0;
  padding: 0 6px;
  cursor: pointer;
}

:local(.button):focus {
  outline: none;
}

:local(.button):hover {
  background-color: #F6FAFE;
}

:local(.button):active {
  fill: #4477BD;
}

:local(.interval) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
