:local(.component),
:local(.component) * {
  box-sizing: border-box;
}

:local(.component) {
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 12px;
  line-height: 1.2;
  font-family: helvetica, arial, sans-serif;
  color: #666;
}

:local(.inner) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

:local(.main) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

:local(.toolbar) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 25px;
  font-size: 18px;
}

:local(.buttons) {
  flex-shrink: 0;
}

:local(.button) {
  border-radius: 3px;
  background-color: transparent;
  border: 0;
  padding: 2px 5px;
  cursor: pointer;
  fill: #666;
  flex-shrink: 0;
}

:local(.button):focus {
  outline: none;
}

:local(.button):hover {
  background-color: #F6FAFE;
}

:local(.button):active {
  fill: #4477BD;
}

:local(.interval) {
  overflow: hidden;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-basis: 50%;
}

:local(.calendarSelector) {
  flex-grow: 1;
  text-align: right;
  flex-basis: 50%;
}

:local(.home) {
  transition: opacity .3s;
  position: absolute;
  bottom: 10px;
  left: 5px;
  border-radius: 50%;
  border: none;
  background-color: #4477BD;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 0;
  pointer-events: none;
  width: 40px;
  height: 40px;
  fill: #fff;
}

:local(.homeActive) {
  pointer-events: inherit;
  cursor: pointer;
  opacity: 1;
  line-height: 0;
}

:local(.home):focus {
  outline: none;
}
