:local(.component) {
  border-left: 1px solid #d6d6d6;
  position: relative;
  user-select: none;
}

:local(.grayed) {
  background-color: rgba(156, 156, 156, 1);
  border-bottom: none;
}

:local(.today) {
  background-color: rgba(218, 228, 242, 0.2);
}

:local(.mouseTarget) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  cursor: default;
}
