:local(.component) {
  border-left: 1px solid #d6d6d6;
  position: relative;
  user-select: none;
}

:local(.today) {
  background-color: rgba(218, 228, 242, 0.2);
}

:local(.grayed) {
  background-image: linear-gradient(-45deg, #f6f6f6 25%, transparent 25%, transparent 50%, #f6f6f6 50%, #f6f6f6 75%, transparent 75%, transparent);
  background-size: 10px 10px;
  border-bottom: none;
}

:local(.block) {
  position: absolute;
  width: 100%;
}

:local(.mouseTarget) {
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  cursor: default;
}
