:local(.example) {
  display: flex;
  align-items: flex-start;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  max-width: 100%;
}

:local(.intro) {
  width: 220px;
  padding: 20px;
}

:local(.main) {
  flex-grow: 1;
}

:local(.selected) {
  max-height: 200px;
  overflow: auto;
  font-size: 10px;
}


.scroll-track-vertical{
    position: absolute;
    width: 10px;
    right: 0;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
    width: 10px;
    background-color: #D8D8D8;
}

.scroll-thumb-vertical{
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    height: 262px;
    transform: translateY(0px);
    background-color: rgb(241, 124, 25);
}