:local(.component) {
  background-color: #4477BD;
  border-radius: 3px;
  position: absolute;
  width: 100%;
  color: #fff;
  overflow: hidden;
  opacity: 0.8;
  cursor: grab;
}

:local(.active) {
  pointer-events: none;
}

:local(.delete) {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  border: none;
  background-color: #fff;;
  display: none;
  font-size: 20px;
  line-height: 1;
  color: #4477BD;
  border: 1px solid #4477BD;
  border-radius: 3px;
  cursor: pointer;
}

:local(.component):hover :local(.delete) {
  display: block;
}

:local(.frozen) {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  opacity: 1;
  cursor: default;
}

:local(.handle) {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  cursor: ns-resize;
}

:local(.title) {
  padding: 5px;
  font-size: 10px;
  font-weight: 100;
  overflow: hidden;
  max-height: 100%;
  pointer-events: none;
}

:local(.flip) {
  transform: rotate(-90deg) translateX(-50%);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}
