:local(.component) {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

:local(.days),
:local(.header) {
  display: flex;
  align-items: flex-start;
}

:local(.header) {
  align-items: stretch;
}

:local(.daysWrapper) {
  position: relative;
  overflow: auto;
  flex: 1 1 auto;
  -webkit-overflow-scrolling: touch;
}

:local(.allDayLabel) {
  position: absolute;
  left: -35px;
  bottom: 3px;
  font-size: 10px;
  line-height: 1;
}

:local(.header) {
  position: relative;
  flex-shrink: 0;
  border-bottom: 2px solid #d6d6d6;
}

:local(.lines) {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

:local(.hour) {
  border-bottom: 1px solid #d6d6d6;
  pointer-events: none;
}

:local(.currTime) {
  border-bottom: 2px solid red;
  z-index:99999;
  width: 100%;
  position: absolute
}
